<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/hello-world?autoReconnect=true&amp;useSSL=false</property>
        <property name="connection.username">egor</property>
        <!--<property name="connection.password">***</property>-->
        <property name="hbm2ddl.auto">create</property>
        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>

        <!-- Use XML-based mapping metadata -->
        <!-- <mapping resource="domain/Message.hbm.xml"/> -->

        <!-- Use Annotation-based mapping metadata -->
        <!--<mapping class="hibernate.entities.Message"/>-->
        <!--<mapping resource="mapping/message.hbm.xml" />-->
        <mapping class="hibernate.entities.Message" />
        <mapping class="hibernate.chapter4.domain.Person"/>
        <mapping class="hibernate.chapter4.domain.Guide" />
        <mapping class="hibernate.chapter4.domain.Student" />
        <mapping class="hibernate.chapter4.domain.Customer"/>
        <mapping class="hibernate.chapter4.domain.Passport"/>

    </session-factory>
</hibernate-configuration>















